body {
    font-family : "Trebuchet MS", "sans-serif";
    font-size : 14px;
    background-color : #eeeeee;
}

a:link { color : blue; }
a:visited { color : blue; }
a:active { color : blue; }
a:hover { color : blue; }
.fakelink {
    color : blue;
    cursor : pointer;
    text-decoration : underline;
}
td.torrentid {
    font-size : 12px;
}

td.heading {
    font-weight : bold;
    background-color : #0099ff;
    color : white;
}

tr.torrent-div {
    border : 1px solid;
    -webkit-border-radius : 10px;
    padding : 0.5em; 
    margin : 0.5em;
}

tr.blue {
    background-color : #ECE9D8;
}
tr.green {
    background-color : #CCCCCC;
}
tr.red {
    background-color : red;
}

.column-1 {
    float : left;
    clear : left;
    min-width : 9em;
    font-weight : bold;
}

.column-2 {
    float : left;
    min-width : 9em;
}

.column-3 {
    float : left;
    min-width : 9em;
    font-weight : bold;
}

.column-4 {
    float : left;
    min-width : 9em;
}

.column-5 {
    float : left;
    min-width : 9em;
    font-weight : bold;
}

.column-6 {
    float : left;
    min-width : 9em;
}

.down-1 {
    float : left;
    margin-top : 1em;
    clear : left;
}

div.topbar-tab {
    float : left;
    padding : 0em 1em;
    border : 1px solid;
    border-bottom : 0px none;
    border-top-right-radius : 25px 50px;
    border-top-left-radius: 25px 50px;
    cursor : pointer;
    background-color : white;
}

div.topbar-tab_home {
    float : left;
    padding : 0em 1em;
    border : 1px dotted;
    border-bottom : 0px none;
    border-top-right-radius : 25px 50px;
    border-top-left-radius : 25px 50px;
    cursor : pointer;
    background-color : #cccccc;
}
#topbar {
    float : left;
}

#main {
    float : left;
    clear : left;
    border : 1px solid;
    padding : 1em;
    min-width : 80%;
    background-color : white;
}

#main_body {
    border : 1px solid;
    float : left;
    clear : left;
}

#torrent_table {
    float : left;
    clear : left;
    padding : 1em;
}

#global_stats {
    float : left;
    clear : left;
    padding : 0em 1em 1em 1em;
}

#peers_table {
     float : left;
     clear : left;
     margin-top : 1em;
}

.folder {
    float : left;
    clear : left;
    color : blue;
}
.file {
    color : green;
}

.level-1 {
    padding-left : 0em;
}

.level-2 {
    padding-left : 1em;
}

.level-3 {
    padding-left : 2em;
}

#files_div {
    float : left;
    clear : left;
    margin-top : 1em;
}
div.topbar-tab.selected{
    background-color : #79CDCD;
}

span.file_priority {
    float : left;
    clear : left;
    min-width : 4em;
}
span.file_completion {
    float : left;
    min-width : 4em;
}
span.file_size {
    float : left;
    min-width : 6em;
}
span.file_name {
    float : left;
    min-width : 4em;
}

#login_div {
    position : absolute;
    top : 50%;
    left : 50%;
    width : 30em;
    height : 10em;
    margin-left : -15em;
    margin-top : -10em;
    background-color : #eeeeee;
    padding : 3em;
    border : 1px solid #545454;
}

#login-message {
    width : 30em;
    font-weight : bold;
    color : red;
    margin-top : 1em;
}

img.control_image {
    width : 20px;
    height : 20px;
    border : none;
}

.control_button {
    cursor : pointer;
}