.rss_img {
  margin-bottom: 9px; }

table#available, table#feeds {
  border-collapse: collapse;
  width: 98%; }

tbody > tr {
  height: 2em; }
  tbody > tr.remote_row:hover {
    cursor: pointer;
    background-color: #3A4040;
    color: #FEA; }
  tbody > tr.remote_row > td {
    text-align: center; }
    tbody > tr.remote_row > td.name {
      text-transform: uppercase;
      min-width: 6em; }
    tbody > tr.remote_row > td.desc {
      min-width: 10em; }
    tbody > tr.remote_row > td.status {
      min-width: 6em;
      font-weight: bold;
      text-transform: uppercase; }
      tbody > tr.remote_row > td.status.status-on {
        color: green; }
      tbody > tr.remote_row > td.status.status-off {
        color: red; }
  tbody > tr.remote_row:nth-child(4n+1):not(:hover) {
    background-color: #ECE9D8; }
  tbody > tr.remote_row:nth-child(4n+3):not(:hover) {
    background-color: #CCCCCC; }
  tbody > tr.remote_setting > td {
    box-shadow: inset 0 2px 8px #888888;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em; }
    tbody > tr.remote_setting > td div.filters {
      margin-top: 2em; }
      tbody > tr.remote_setting > td div.filters h4 {
        float: left;
        clear: left; }
      tbody > tr.remote_setting > td div.filters button.add_filter_button {
        border-radius: 5px;
        box-shadow: 0 2px 8px #888888;
        width: 120px;
        height: 20px;
        vertical-align: center;
        border-bottom: 3px; }
      tbody > tr.remote_setting > td div.filters div.filter_group {
        float: left;
        clear: right; }
        tbody > tr.remote_setting > td div.filters div.filter_group:hover {
          border: 1px solid red !important;
          cursor: pointer;
          border-radius: 4px;
          background-color: rgba(255, 0, 0, 0.5); }
        tbody > tr.remote_setting > td div.filters div.filter_group:not(:hover) {
          border: 1px solid rgba(0, 0, 0, 0); }
      tbody > tr.remote_setting > td div.filters div.filter {
        color: #4183C4;
        float: left;
        margin: 2px;
        font-family: monospace;
        border: 1px solid #EAEAEA;
        padding: 0 5px;
        border-radius: 3px; }
        tbody > tr.remote_setting > td div.filters div.filter.filter_positive {
          background-color: #F8F8F8; }
        tbody > tr.remote_setting > td div.filters div.filter.filter_negative {
          background-color: #FFCCCC; }
      tbody > tr.remote_setting > td div.filters div.add_filter_div {
        float: left;
        clear: left;
        margin-top: 1em;
        width: 80%; }
    tbody > tr.remote_setting > td div.settings, tbody > tr.remote_setting > td div.filters {
      margin-left: 2em; }
      tbody > tr.remote_setting > td div.settings label, tbody > tr.remote_setting > td div.filters label {
        font-family: monospace;
        min-width: 150px;
        float: left;
        clear: left; }
      tbody > tr.remote_setting > td div.settings input[type=text], tbody > tr.remote_setting > td div.filters input[type=text] {
        font-family: monospace;
        border: none;
        float: left;
        clear: right;
        color: blue;
        background-color: #F8F8F8; }
        tbody > tr.remote_setting > td div.settings input[type=text]:not(.input_filter), tbody > tr.remote_setting > td div.filters input[type=text]:not(.input_filter) {
          min-width: 70%; }
        tbody > tr.remote_setting > td div.settings input[type=text].input_filter, tbody > tr.remote_setting > td div.filters input[type=text].input_filter {
          min-width: 265px; }
      tbody > tr.remote_setting > td div.settings div.and_filter, tbody > tr.remote_setting > td div.settings div.not_filter, tbody > tr.remote_setting > td div.settings div.size_filter, tbody > tr.remote_setting > td div.filters div.and_filter, tbody > tr.remote_setting > td div.filters div.not_filter, tbody > tr.remote_setting > td div.filters div.size_filter {
        padding-left: 150px;
        float: left;
        clear: right; }
        tbody > tr.remote_setting > td div.settings div.and_filter input[type="text"], tbody > tr.remote_setting > td div.settings div.not_filter input[type="text"], tbody > tr.remote_setting > td div.settings div.size_filter input[type="text"], tbody > tr.remote_setting > td div.filters div.and_filter input[type="text"], tbody > tr.remote_setting > td div.filters div.not_filter input[type="text"], tbody > tr.remote_setting > td div.filters div.size_filter input[type="text"] {
          float: left;
          margin-left: 10px; }
        tbody > tr.remote_setting > td div.settings div.and_filter input[type="number"], tbody > tr.remote_setting > td div.settings div.not_filter input[type="number"], tbody > tr.remote_setting > td div.settings div.size_filter input[type="number"], tbody > tr.remote_setting > td div.filters div.and_filter input[type="number"], tbody > tr.remote_setting > td div.filters div.not_filter input[type="number"], tbody > tr.remote_setting > td div.filters div.size_filter input[type="number"] {
          float: left;
          margin-left: 10px;
          font-family: monospace;
          color: blue;
          width: 5em;
          border: none;
          background-color: #F8F8F8; }
      tbody > tr.remote_setting > td div.settings div.add_filter, tbody > tr.remote_setting > td div.filters div.add_filter {
        padding-left: 52px;
        float: left;
        clear: right; }
        tbody > tr.remote_setting > td div.settings div.add_filter input, tbody > tr.remote_setting > td div.filters div.add_filter input {
          float: left;
          margin-left: 10px; }
      tbody > tr.remote_setting > td div.settings div select, tbody > tr.remote_setting > td div.filters div select {
        float: left;
        border-radius: 3px; }
        tbody > tr.remote_setting > td div.settings div select:not(.size_select), tbody > tr.remote_setting > td div.filters div select:not(.size_select) {
          border-color: #F8F8F8;
          background-color: #F8F8F8; }
        tbody > tr.remote_setting > td div.settings div select.size_select, tbody > tr.remote_setting > td div.filters div select.size_select {
          border-color: white;
          background-color: white; }
      tbody > tr.remote_setting > td div.settings button.submit_button, tbody > tr.remote_setting > td div.settings button.bot_button, tbody > tr.remote_setting > td div.filters button.submit_button, tbody > tr.remote_setting > td div.filters button.bot_button {
        border-radius: 5px;
        box-shadow: 0 2px 8px #888888;
        width: 120px;
        height: 30px;
        margin-top: 1em; }
        tbody > tr.remote_setting > td div.settings button.submit_button > img, tbody > tr.remote_setting > td div.settings button.submit_button > span, tbody > tr.remote_setting > td div.settings button.bot_button > img, tbody > tr.remote_setting > td div.settings button.bot_button > span, tbody > tr.remote_setting > td div.filters button.submit_button > img, tbody > tr.remote_setting > td div.filters button.submit_button > span, tbody > tr.remote_setting > td div.filters button.bot_button > img, tbody > tr.remote_setting > td div.filters button.bot_button > span {
          float: left; }
        tbody > tr.remote_setting > td div.settings button.submit_button > span, tbody > tr.remote_setting > td div.settings button.bot_button > span, tbody > tr.remote_setting > td div.filters button.submit_button > span, tbody > tr.remote_setting > td div.filters button.bot_button > span {
          padding-left: 1em;
          font-size: 15px; }

thead > tr, tfoot > tr {
  height: 1.5em;
  background-color: #3A3737; }
  thead > tr > td:not(.enabled):first-child, tfoot > tr > td:not(.enabled):first-child {
    padding-left: 2em; }
  thead > tr > td:not(.enabled):last-child, tfoot > tr > td:not(.enabled):last-child {
    padding-right: 2em; }

thead > tr.sub_heading {
  height: 1em; }
thead > tr:not(.sub_heading) {
  height: 3em; }
thead > tr > td:first-child {
  border-top-left-radius: 10px; }
thead > tr > td:last-child {
  border-top-right-radius: 10px; }
thead > tr > th.available_heading {
  color: white; }
thead > tr > th.sub_title {
  color: #AFC5FF; }

#clicktest {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 4px;
  background-color: rgba(128, 128, 128, 0.2);
  cursor: pointer;
  float: left; }
  #clicktest:hover {
    background-color: rgba(128, 128, 128, 0.9);
    color: #f0f0f0; }

.topbar-tab_suboption {
  float: left;
  padding: 0em 1em;
  cursor: pointer;
  line-height: 25px;
  font-weight: bold;
  font-size: 9pt;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px none;
  border-bottom: 0px none;
  color: #AEF; }
  .topbar-tab_suboption:hover {
    background-color: #C0C0C0;
    color: black; }

.is_hidden {
  display: none;
  visibility: hidden; }

.submit_buttons {
  float: left;
  clear: both; }

#add_feed {
  margin-bottom: 1em; }

#add_feed_hidden {
  margin-bottom: 1em; }

#add_feed_img {
  vertical-align: bottom; }

#add_feed_txt {
  vertical-align: middle;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold; }
  #add_feed_txt:not(.selected) {
    color: #FF7C25; }
  #add_feed_txt.selected {
    color: #8A8A8A; }

div.fake_form {
  padding-left: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  margin-bottom: 10px;
  margin-top: 10px; }
  div.fake_form > input[type="text"] {
    font-family: monospace;
    min-width: 60%; }
    div.fake_form > input[type="text"]:not(.error) {
      border: none;
      background-color: #F8F8F8; }
    div.fake_form > input[type="text"].error {
      border: 1px solid red;
      background-color: #FCCFCF; }
    div.fake_form > input[type="text"]:focus {
      color: blue; }
  div.fake_form > label {
    font-family: "Helvetica";
    float: left;
    clear: left;
    min-width: 10em; }
  div.fake_form > input[type="text"] {
    float: left;
    /*clear: right;*/ }
  div.fake_form#submit_fake {
    float: left;
    clear: left; }

div.rss_controls {
  margin-left: 2em;
  margin-top: 2em; }
  div.rss_controls > img {
    cursor: pointer; }

button {
  cursor: pointer; }

td.url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 6em; }

td.enabled.feed_enabled_True {
  background-color: green; }
td.enabled.feed_enabled_False {
  background-color: red; }
