fieldset {
  border-radius: 5px;
  margin-bottom: 2em;
  float: left;
  clear: both;
  width: 80%; }

legend {
  font-weight: bold; }

div#path_browse_div {
  border: 1px solid black;
  width: 60%;
  background-color: white;
  min-height: 10em;
  position: relative;
  left: 135px;
  top: 20px;
  margin-bottom: 1em; }

ul.filetree {
  /*overflow: hidden;*/
  height: 100%;
  width: 100%; }

div.fake_form {
  padding: 2px;
  margin-bottom: 10px; }
  div.fake_form > input[type="text"] {
    font-family: monospace;
    border: none;
    background-color: #F8F8F8;
    min-width: 60%; }
    div.fake_form > input[type="text"]:focus {
      color: blue; }
  div.fake_form > label {
    font-family: "Helvetica";
    float: left;
    clear: left;
    min-width: 10em; }
  div.fake_form > input[type="text"], div.fake_form select {
    float: left;
    /*clear: right;*/ }
  div.fake_form > button {
    float: left;
    clear: right;
    height: 20px;
    margin-left: 1em; }

button#create {
  float: left;
  clear: left;
  border-radius: 5px;
  box-shadow: 0 2px 8px #888888;
  width: 80px;
  height: 20px;
  vertical-align: center;
  border-bottom: 3px; }

.error {
  color: red;
  border: 1px solid red; }

span.filetree_item:hover {
  cursor: pointer;
  color: green; }
span.filetree_item.selected {
  font-weight: bold; }

#progressbar {
  float: left;
  clear: left;
  margin-top: 1em;
  border-radius: 4px;
  border: 1px solid #AAAAAA;
  height: 2em;
  width: 50%; }
  #progressbar > div {
    margin: -1px;
    height: 100%;
    background-color: black; }

.downloadme {
  float: left;
  clear: left;
  margin-top: 1em;
  border: none;
  cursor: pointer; }
