body {
    font-family : "Trebuchet MS", "sans-serif";
    font-size : 14px;
    background-color : #eeeeee;
}

td.heading {
    font-weight : bold;
    background-color : #0099ff;
    color : white;
}

.column-1 {
    float : left;
    clear : left;
    min-width : 9em;
    font-weight : bold;
}

.column-2 {
    float : left;
    min-width : 9em;
}

.column-3 {
    float : left;
    min-width : 9em;
    font-weight : bold;
}

.column-4 {
    float : left;
    min-width : 9em;
}

.column-5 {
    float : left;
    min-width : 9em;
    font-weight : bold;
}

.column-6 {
    float : left;
    min-width : 9em;
}

.down-1 {
    float : left;
    margin-top : 1em;
    clear : left;
}

.fullpath {
    display : none;
}