.log_message {
  font-family: monospace;
  font-size: 8pt; }

.log_level {
  font-size: 10pt;
  text-align: center; }

tr.level_1 {
  color: #FF0000;
  font-weight: bold; }

td.level_1 {
  background-color: #FFC0CB; }

tr.level_2 {
  color: green; }

td.level_2 {
  background-color: #B2BEB5; }

tr.level_3 {
  color: #0000CC; }

td.level_3 {
  background-color: #ADD8E6; }

tr.level_4 {
  color: #585858; }

td.level_4 {
  background-color: white; }
