body {
  font-family: sans-serif; }

#status-div {
  font-family: monospace;
  font-size: 12px; }
  #status-div.status-ok {
    color: green; }
  #status-div.status-bad {
    color: red; }

.canvas-title {
  font-weight: bold;
  font-size: 14px; }

.canvas-div {
  float: left;
  min-width: 400px; }

.status-uprate-value {
  color: red; }

.status-downrate-value {
  color: blue; }

.status-loadavg-value {
  color: red; }

.status-mem-value {
  color: blue; }

.status-label {
  float: left;
  min-width: 7em;
  display: inline; }
