## This is an example config file for pyrt
## this file should be edited and renamed to .pyrtrc
##    mv pyrtrc.example .pyrtrc
## config syntax is JSON with comments allowed
## comments are prefixed with a # sign
{
    ## the *full* path to the rtorrent socket file
    ## this is defined in .rtorrent.rc as scgi_local
    ## REQUIRED
    "rtorrent_socket" : "/path/to/rtorrent/socket",
    
    ## the port that the server should run on
    ## REQUIRED
    "port" : 8000,
    
    ## the host that the server should run on
    ## REQUIRED
    "host" : "server.bytesized-hosting.com",

    ## the *full* path to the SSL certificate that pyrt should use
    ## if this is not defined, pyrt will run a HTTP server
    ## OPTIONAL
    #"ssl_certificate" : "/path/to/ssl/certificate",

    ## the *full* path to the SSL private key that pyrt should use
    ## if this is not defined, pyrt will run a HTTP server
    ## OPTIONAL
    #"ssl_private_key" : "/path/to/ssl/private/key",
   
    ## the *full* path to the SSL certiface authority file that pyrt should use
    ## OPTIONAL
    #"ssl_ca_certs" : "/path/to/ssl/ca/certs",

    ## the *full* path to the root directory that you want to stat for disk usage
    ## OPTIONAL (defaults to "/")
    #"root_directory" : "/",

    ## relative or full path to the log file that pyrt should use
    ## this will default to pyrt.log if not defined here
    #"logfile" : "pyrt.log",

    ## hashed password that pyrt will use
    ## plaintext is hashed twice, the second iteration with a random salt 
    ## you can use the provided mkpasswd utility to generate a hashed password
    ## ./pyrt mkpasswd
    ## REQUIRED
    "password" : "$Iijgf0WV$71238227050bfcf31f5f8b30daebf414e345a090cef8bdeca032258d76eb946c" # this corresponds to a plaintext password of 'testing'
}
