<div class='drop_down'>
    <div class='column-1'>ID:</div><div class='column-2'>$torrent_id</div>
    <div class='column-1'>Size:</div><div class='column-2'>$size</div>
    <div class='column-1'>Percentage:</div><div class='column-2'>$percentage%</div>
    <div class='column-1'>Downloaded:</div><div class='column-2'>$downloaded</div>
    <div class='column-1'>Uploaded:</div><div class='column-2'>$uploaded</div>
    <div class='column-1'>Ratio:</div><div class='column-2'>$ratio</div>
    <div class='column-1'>Peers:</div><div class='column-2'>$peers</div>
    <div class='column-1'>Created:</div><div class='column-2'>$created</div>
    <div class='column-2' style='clear : left;'><span class='fakelink' onClick='removerow("$torrent_id")'>Close</span> <a style='color : blue;' href='detail?torrent_id=$torrent_id'>Detailed View</a></div>
</div>