<!DOCTYPE html>
<html>
    <head>
        <title>PyRT :: Log</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/css/log.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="/javascript/jquery-1.7.min.js" type="text/javascript"></script>
        <script src="/javascript/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
        <script src="/javascript/log.min.js"></script>
    </head>
    <body>
        <div id="header">
            <div id="topbar">
                <a href="/" class="topbar-tab" title="main" id="tab_main">Main</a>
                <a href="/log" class="topbar-tab_options selected" title="log" id="tab_log">Log</a>
            </div>
        </div>
        <div id="main_body">
            <div id="wrapper">
                <div id="log_wrapper">
                    <div id="log_control_wrapper">
                        <div class="log_control level_1%(selected_1)s" id="log_control_1">ERROR</div>
                        <div class="log_control level_2%(selected_2)s" id="log_control_2">INFO</div>
                        <div class="log_control level_3%(selected_3)s" id="log_control_3">WARNING</div>
                        <div class="log_control level_4%(selected_4)s" id="log_control_4">DEBUG</div>
                    </div>
                    <table id="log_table">
                    <!-- Start Log Content -->
                    %(logHTML)s
                    <!-- End Log Content -->
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
