<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>rTorrent - webUI Login</title>
        <link rel="stylesheet" href="css/main.css">
        <script type="text/javascript" src="javascript/jquery-1.7.min.js"></script>
        <script type="text/javascript" src="javascript/login-combined.min.js"></script>
    </head>
    <body>
        <input type="hidden" id="permanent_salt" value="${PERM_SALT}">
        <div id="login_div">
            <div class="notice">${msg}</div>
            <h1>Login to your rTorrent webUI</h1>
            <form method="POST" action="" id="login_form">
                <label>Enter Password: </label>
                <input type="password" id="password_input">
            </form>
        </div>
    </body>
</html>

