<tr class="log_row log_message level_{{ msg.level }} {% if msg.new %}new_message{% end %}" id="{{ msg.msg_id }}">
    <td class="log_level level_{{ msg.level }}">{{ msg.level_name }}</td>
    <td class="log_message">{{ msg.fmt }}</td>
</tr>

