<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title> PyRT :: Options </title>
        <link rel="stylesheet" href="/css/options.css" type="text/css">
        <script src="/javascript/jquery-1.7.min.js" type="text/javascript"></script>
        <script src="/javascript/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
        <script src="/javascript/options.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="header">
            <div id="topbar">
                <div class="topbar-tab" title="Main" id="tab_main">Main</div>
                <div id="tools-bar">
                    <div class="topbar-tab_options selected"  title="Options" id="tab_options">Options</div>
                </div>
            </div>
        </div>
        <div id="main_body">
            <div id="wrapper">
                <div id="main_contents">
                    <div id="sidebar">
                        <ol class="sidebar-list">
                            <li id="pyrt-tab">PyRT</li>
                            ##password
                            ##animations
                            ##refresh rate
                            ##port
                            <li id="general-tab">General</li>
                            <li id="throttle-tab">Throttle</li>
                            ##global
                            <li id="network-tab">Network</li>
                            ##port range
                            ##dl dir
                            ##move on complete
                            <!--<li id="priority-tab">Priority</li>-->
                            ##on_ratio - set priorities
                            ##trackers - set priorities
                            <li id="performance-tab">Performance</li>
                            ##max memory usage
                            ##hash read ahead
                            ##send_buffer_size
                            ##receive_buffer_size
                            ##max simultaneous uploads
                            ##max simultaneous downloads
                            ##max peers
                            ##max peers seed
                            ##max file size
                            ##max open files
                            ##max open sockets
                            ##max open http
                            <li id="trackers-tab">Trackers</li>
                            ##show cached favicons
                            ##allow changing
                        </ol>
                    </div>
                    <div class="options-wrapper">
                        <div id="pyrt" class="options">
<!--                            <div id="pyrt-password" class="options-box">
                                <h3>Change your password</h3>
                                <div>
                                    <label id="forpyrt-oldpass" for="pyrt-oldpass">Current password:</label>
                                    <input type="password" id="pyrt-oldpass" class="pyrt-config">
                                </div>
                                <div>
                                    <label id="forpyrt-newpass" for="pyrt-newpass">New password:</label>
                                    <input type="password" id="pyrt-newpass" class="pyrt-config">
                                    <label id="forpyrt-newpassconf" for="pyrt-newpassconf">Confirm:</label>
                                    <input type="password" id="pyrt-newpassconf" class="pyrt-config">
                                </div>
                            </div>-->
                            <div id="pyrt-refresh" class="options-box">
                                <h3>Refresh rate</h3>
                                <input type="text" id="pyrt-refreshrate" class="small pyrt-config" placeholder="$config.refresh">
                                <span id="forpyrt-refreshrate" class="after-text">seconds</span>
                                <span id="pyrt-refreshrateerror" class="inputerror"></span>
                            </div>
<!--                            <div id="pyrtport" class="options-box error">
                                <h3>PyRT Port</h3>
                                <label for="pyrt-port" id="forpyrt-port">$config.host : </label>
                                <input type="text" id="pyrt-port" class="small pyrt-config" placeholder="$config.port">
                                <span id="pyrt-porterror" class="inputerror"></span>
                            </div>-->
                            <button id="pyrt-submit" class="submit-box">
                                Submit Changes
                            </button>
                            <span id="pyrt-status" class="submit-status"></span>
                        </div>
                    </div>
                    <div class="options-wrapper">
                        <div id="general" class="options">
                            <div id="general-dldir" class="options-box">
                                <h3>Download directory</h3>
                                <div>
                                    <input type="text" id="general-dir" placeholder="$generaldir" class="general-config">
                                    <div id="general-direrror" class="inputerror"></div>
                                    <!--<div id="general-dir-note" class="note">* Note: this will reset if rTorrent is restarted</div>-->
                                </div>
                            </div>
                            <div id="general-move" class="options-box">
                                <h3>Move on complete</h3>
                                <div>
                                    <label for="general-movecheck" id="forgeneral-movecheck">Enable</label>
                                    <input type="checkbox" id="general-movecheck" $generalmovecheckbool class="general-config">
                                </div>
                                <div>
                                    <input type="text" id="general-moveto" class="general-moveto $generalmovecheckhidden general-config" value="$generalmovecheckvalue">
                                    <div id="general-movetoerror" class="inputerror"></div>
                                </div>
                            </div>
<!--                            <div id="general-stop" class="options-box">
                                <h3>Stop when disk space low</h3>
                                <div>
                                    <label for="general-stopcheck" id="forgeneral-stopcheck">Enable</label>
                                    <input type="checkbox" id="general-stopcheck">
                                </div>
                                <div class="hidden" id="general-stopat-parent">
                                    <label for="general-stopat" id="forgeneral-stopat">Limit</label>
                                    <input type="text" class="small general-config" id="general-stopat">
                                    <span class="after-text">MB</span>
                                    <span class="inputerror" id="general-stopaterror"></span>
                                </div>
                            </div>-->
                            <button class="submit-box" id="general-submit">
                                Submit Changes
                            </button>
                            <span id="general-status" class="submit-status"></span>
                        </div>
                    </div>
                    <div class="options-wrapper">
                        <div id="throttle" class="options">
                            <div id="throttle-global" class="options-box">
                                <h3>Global Throttle</h3>
                                <div>
                                    <label for="throttle-up" id="forthrottle-up">Up:</label>
                                    <input type="text" id="throttle-up" class="smaller throttle-config" placeholder="$throttleup">
                                    <span id="forthrottle-up-text" class="after-text">KB/s</span>
                                    <span id="throttle-uperror" class="inputerror"></span>
                                </div>
                                <div>
                                    <label for="throttle-down" id="forthrottle-down">Down:</label>
                                    <input type="text" id="throttle-down" class="smaller throttle-config" placeholder="$throttledown">
                                    <span id="forthrottle-down-text" class="after-text">KB/s</span>
                                    <span id="throttle-downerror" class="inputerror"></span>
                                </div>
                            </div>
                            <button id="throttle-submit" class="submit-box">
                                Submit Changes
                            </button>
                            <span id="throttle-status" class="submit-status"></span>
                        </div>
                    </div>
                    <div class="options-wrapper">
                        <div id="network" class="options">
                            <div id="network-portrange" class="options-box">
                                <h3>Port range</h3>
                                <div>
                                    <input type="text" id="network-portfrom" class="network-port small network-config" placeholder="$networkportfrom">
                                    <span>-</span>
                                    <input type="text" id="network-portto" class="network-port small network-config" placeholder="$networkportto">
                                    <span id="network-porttoerror" class="inputerror"></span>
                                    <div id="network-portfromerror" class="inputerror"></div>
                                </div>
                            </div>
                            <div id="network-conns" class="options-box">
                                <h3>Connections</h3>
                                <div>
                                    <div>
                                        <label for="network-simuluploads" id="fornetwork-simuluploads">Simultaneous upload slots</label>
                                        <input type="text" id="network-simuluploads" class="small network-config" placeholder="$networksimuluploads">
                                        <span id="network-simuluploadserror" class="inputerror"></span>
                                    </div>
                                    <div>
                                        <label for="network-simuldownloads" id="fornetwork-simuldownloads">Simultaneous download slots</label>
                                        <input type="text" id="network-simuldownloads" class="small network-config" placeholder="$networksimuldownloads">
                                        <span id="network-simuldownloadserror" class="inputerror"></span>
                                    </div>
                                    <div>
                                        <label for="network-maxpeers" id="fornetwork-maxpeers">Max peers</label>
                                        <input type="text" id="network-maxpeers" class="small network-config" placeholder="$networkmaxpeers">
                                        <span id="network-maxpeerserror" class="inputerror"></span>
                                    </div>
                                    <div>
                                        <label for="network-maxpeersseed" id="fornetwork-maxpeersseed">Max peers (seeding)</label>
                                        <input type="text" id="network-maxpeersseed" class="small network-config" placeholder="$networkmaxpeersseed">
                                        <span id="network-maxpeersseederror" class="inputerror"></span>
                                    </div>
                                    <div>
                                        <label for="network-maxopensockets" id="fornetwork-maxopensockets">Max open sockets</label>
                                        <input type="text" id="network-maxopensockets" class="small network-config" placeholder="$networkmaxopensockets">
                                        <span id="network-maxopensocketserror" class="inputerror"></span>
                                    </div>
                                    <div>
                                        <label for="network-maxopenhttp" id="fornetwork-maxopenhttp">Max open http</label>
                                        <input type="text" id="network-maxopenhttp" class="small network-config" placeholder="$networkmaxopenhttp">
                                        <span id="network-maxopenhttperror" class="inputerror"></span>
                                    </div>
                                </div>
                            </div>
                            <button id="network-submit" class="submit-box">
                                Submit Changes
                            </button>
                            <span id="network-status" class="submit-status"></span>
                        </div>
                    </div>
                    <div class="options-wrapper">
                        <div id="priority" class="options">
                            <div id="priority-settings" class="options-box">
                                <h3>Priority Settings Placeholder</h3>
                                <div>Testing</div>
                            </div>
                            <button id="priority-submit" class="submit-box">
                                Submit Changes
                            </button>
                            <span id="priority-status" class="submit-status"></span>
                        </div>
                    </div>
                    <div class="options-wrapper">
                        <div id="performance" class="options">
                            ##max open sockets
                            ##max open http
                            <div id="performance-memory" class="options-box">
                                <h3>Memory</h3>
                                <div>
                                    <!--<h3>Refresh rate</h3>-->
                                    <!--<input type="text" id="refreshrate" placeholder="$config.refresh">-->
                                    <!--<span id="forrefreshrate" class="after-text">seconds</span>-->
                                    <!--<span id="refreshrateerror" class="inputerror"></span>-->
                                    <label id="forperformance-maxmemory" for="performance-maxmemory">Max memory usage</label>
                                    <input type="text" id="performance-maxmemory" class="small performance-config" placeholder="$performancemaxmemory">
                                    <span class="after-text">MB</span>
                                    <span id="performance-maxmemoryerror" class="inputerror"></span>
                                </div>
                                <div>
                                    <label id="forperformance-maxfilesize" for="performance-maxfilesize">Max file size</label>
                                    <input type="text" id="performance-maxfilesize" class="small performance-config" placeholder="$performancemaxfilesize">
                                    <span class="after-text">MB</span>
                                    <span id="performance-maxfilesizeerror" class="inputerror"></span>
                                </div>
                                <div>
                                    <label id="forperformance-maxopenfiles" for="performance-maxopenfiles">Max open files</label>
                                    <input type="text" id="performance-maxopenfiles" class="small performance-config" placeholder="$performancemaxopenfiles">
                                    <span id="performance-maxopenfileserror" class="inputerror"></span>
                                </div>
                            </div>
                            <div id="performance-buffer" class="options-box">
                                <h3>Buffers</h3>
                                <div>
                                    <div>
                                        <label for="performance-receivebuffer" id="forperformance-receivebuffer">Receive</label>
                                        <input type="text" id="performance-receivebuffer" class="small performance-config" placeholder="$performancereceivebuffer">
                                        <span class="after-text">KB</span>
                                        <span id="performance-receivebuffererror" class="inputerror"></span>
                                    </div>
                                    <div>
                                        <label for="performance-sendbuffer" id="forperformance-sendbuffer">Send</label>
                                        <input type="text" id="performance-sendbuffer" class="small performance-config" placeholder="$performancesendbuffer">
                                        <span class="after-text">KB</span>
                                        <span id="performance-sendbuffererror" class="inputerror"></span>
                                    </div>
<!--                                    <div>
                                        <label for="performance-readahead" id="forperformance-readahead">Hash read-ahead</label>
                                        <input type="text" id="performance-readahead" class="small performance-config" placeholder="$performancereadahead">
                                        <span class="after-text">MB</span>
                                        <span id="performance-readaheaderror" class="inputerror"></span>
                                    </div>-->
                                </div>
                            </div>
                            <button id="performance-submit" class="submit-box">
                                Submit Changes
                            </button>
                            <span id="performance-status" class="submit-status"></span>
                        </div>
                    </div>
                    <div class="options-wrapper">
                        <div id="trackers" class="options">
                            <div id="trackers-settings" class="options-box">
                                <h3>Tracker icons</h3>
                                <div class="info" id="tracker-info" droppable="true" ondragover="dragoverInfo(event);" ondrop="dropInfo(event);" ondragleave="dragleaveInfo(event);">Drag to group icons</div>
                                <div>
                                    #for $alias, $group in $aliases.iteritems()
                                    <div id="tracker-$alias" droppable=true ondrop="drop(event);" ondragover="dragover(event);" class="tracker-div">
                                        <img draggable=false width=16 height=16 alt="$alias icon" class="trackericon" src="$group.favicon">
                                        #for $trackerurl in $group.urls
                                        <div draggable=true ondragstart="dragstart(event);" ondragend="dragend(event)" class="tracker">$trackerurl</div>
                                        #end for
                                    </div>
                                    #end for
                                </div>
                            </div>
                            <button id="trackers-submit" class="submit-box">
                                Submit Changes
                            </button>
                            <span id="trackers-status" class="submit-status"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>