<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <title> PyRT Options </title>
        <link rel="stylesheet" href="/css/options.css" type="text/css">
        <script src="/javascript/jquery-1.7.min.js" type="text/javascript"></script>
        <script src="/javascript/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
        <script src="/javascript/options.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="header">
            <div id="topbar">
                <div class="topbar-tab" title="Main" id="tab_main">Main</div>
                <div id="tools-bar">
                    <div class="topbar-tab_options selected"  title="Options" id="tab_options">Options</div>
                </div>
            </div>
        </div>
        <div id="main_body">
            <div id="wrapper">
                <div id="main_contents">
                    <div id="sidebar">
                        <ol class="sidebar-list">
                            <li id="pyrt-tab" class="selected">PyRT</li>
                            ##password
                            ##animations
                            ##refresh rate
                            <li id="throttle-tab">Throttle</li>
                            ##global
                            <li id="network-tab">Network</li>
                            ##port range
                            ##dl dir
                            ##move on complete
                            <li id="priority-tab">Priority</li>
                            ##on_ratio - set priorities
                            ##trackers - set priorities
                            <li id="trackers-tab">Trackers</li>
                            ##show cached favicons
                            ##allow changing
                        </ol>
                    </div>
                    <div class="options-wrapper selected">
                        <div id="pyrt" class="options">
                            <span>PyRT Settings Placeholder</span>
                        </div>
                    </div>
                    <div class="options-wrapper">
                        <div id="throttle" class="options">
                            <span>Throttling Placeholder</span>
                        </div>
                    </div>
                    <div class="options-wrapper">
                        <div id="network" class="options">
                            <span>Network Settings Placeholder</span>
                        </div>
                    </div>
                    <div class="options-wrapper">
                        <div id="priority" class="options">
                            <span>Priority Settings Placeholder</span>
                        </div>
                    </div>
                    <div class="options-wrapper">
                        <div id="trackers" class="options">
                            <span>Trackers Placeholder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>