<!DOCTYPE html>
<html>
    <head>
        <title>pyRT Statistics</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" href="/css/stats.css">
        <script src="/javascript/jquery-1.7.min.js" type="text/javascript"></script>
        <script src="/javascript/jquery-ui-1.8.17.custom.min.js" type="text/javascript"></script>
        <script src="/javascript/stats.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="status-div"></div>
        <div class="canvas-div">
            <div class="canvas-title">Current network usage stats</div>
            <canvas id="canvas-actual" width=500 height=200>
            </canvas>
        </div>
        <div class="status-current">
            <div id="status-uprate"></div>
            <div id="status-downrate"></div>
        </div>
    </body>
</html>