.rss_img {
    margin-bottom: 9px;
}

table {
    &#available, &#feeds {
        border-collapse: collapse;
        width: 98%;
    }
}

tbody > tr {
    height: 2em;
    &.remote_row:hover {
        cursor: pointer;
        background-color: #3A4040;
        color: #FEA;
    }
    &.remote_row > td {
        text-align: center;
        &.name {
            text-transform: uppercase;
            min-width: 6em;
        }
        &.desc {
            min-width: 10em;
        }
        &.status {
            min-width: 6em;
            font-weight: bold;
            text-transform: uppercase;
            &.status-on {
                color: green;
            }
            &.status-off {
                color: red;
            }
        }
    }
    &.remote_row:nth-child(4n+1):not(:hover) {
        background-color: #ECE9D8;    
    }
    &.remote_row:nth-child(4n+3):not(:hover) {
        background-color: #CCCCCC;
    }
    &.remote_setting {
        &>td {
            box-shadow: inset 0 2px 8px #888888;
            padding: {
                left: 2em;
                right: 2em;
                bottom: 2em;
            }
            div {
                &.filters {
                    margin-top: 2em;
                    h4 {
                        float: left;
                        clear: left;
                    }
                    button.add_filter_button {
                        border-radius: 5px;
                        box-shadow: 0 2px 8px #888888;
                        width: 120px;
                        height: 20px;
                        vertical-align: center;
                        border-bottom: 3px;
                    }
                    div.filter_group {
                        float: left;
                        clear: right;
                        &:hover {
                            border: 1px solid red !important;
                            cursor: pointer;
                            border-radius: 4px;
                            background-color: rgba(255,0,0,0.5);
                        }
                        &:not(:hover) {
                            border: 1px solid rgba(0,0,0,0);
                        }
                    }
                    div.filter {
                        color: #4183C4;
                        float: left;
                        margin: 2px;
                        font-family: monospace;
                        border: 1px solid #EAEAEA;
                        padding: 0 5px;
                        border-radius: 3px;
                        &.filter_positive {
                            background-color: #F8F8F8;
                        }
                        &.filter_negative {
                            background-color: #FFCCCC;
                        }
                    }
                    div.add_filter_div {
                        float:left;
                        clear:left;
                        margin-top: 1em;
                        width:80%;
                    }
                }
                &.settings, &.filters {
                    margin-left: 2em;
                    label {
                        font-family: monospace;  
                        min-width: 150px;
                        float: left;
                        clear: left;
                    }
                    input[type=text] {
                        font-family: monospace;
                        border: none;
                        float: left;
                        clear: right;
                        color: blue;
                        &:not(.input_filter) {
                            min-width: 70%;
                        }
                        &.input_filter {
                            min-width: 265px;
                        }
                        background-color: #F8F8F8;
                    }
                    div.and_filter, div.not_filter, div.size_filter {
                        padding-left: 150px;
                        float: left;
                        clear: right;
                        input[type="text"] {
                            float: left;
                            margin-left: 10px;
                        }
                        input[type="number"] {
                            float: left;
                            margin-left: 10px;
                            font-family: monospace;
                            color: blue;
                            width: 5em;
                            border: none;
                            background-color: #F8F8F8;
                        }
                    }
                    div.add_filter {
                        /*padding-left: 52px;*/
                        float: left;
                        clear: right;
                        position: relative;
                        left: -13px;
                        input {
                            float: left;
                            margin-left: 13px;
                        }
                    }
                    div {
                        select {
                            float: left;
                            border-radius: 3px;
                            &:not(.size_select) {
                                border-color: #F8F8F8;
                                background-color: #F8F8F8;
                            }
                            &.size_select {
                                border-color: white;
                                background-color: white;
                            }
                        }
                    }
                    button.submit_button, button.bot_button {
                        border-radius: 5px;
                        box-shadow: 0 2px 8px #888888;
                        width: 120px;
                        height: 30px;
                        margin-top: 1em;
                        &>img, &>span {
                            float: left;
                        }
                        &>span {
                            padding-left: 1em;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

thead, tfoot {
    &>tr {
        height: 1.5em;
        background-color: #3A3737;
        &>td:not(.enabled) {
            &:first-child {
                padding-left: 2em;
            }
            &:last-child {
                padding-right: 2em;
            }
        }
    }
}

thead {
    &>tr {
        &.sub_heading {
            height: 1em;
        }
        &:not(.sub_heading) {
            height: 3em;
        }
        &>td:first-child {
            border-top-left-radius: 10px;
        }
        &>td:last-child {
            border-top-right-radius: 10px;
        }
        &>th {
            &.available_heading {
                color: white;
            }
            &.sub_title {
                color: #AFC5FF;
            }
        }
        
    }
}

#clicktest {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
    background-color: rgba(128,128,128,0.2);
    cursor: pointer;
    float: left;
    &:hover {
        background-color: rgba(128,128,128,0.9);
        color: rgb(240,240,240);
    }
}

.topbar-tab_suboption {
    float: left;
    padding: 0em 1em;
    cursor: pointer;
    line-height: 25px;
    font: {
        weight: bold;
        size: 9pt;
    }
    border-top: {
        left-radius: 8px;
        right-radius: 8px;
    }
    border: 1px none;
    border-bottom: 0px none;
    color: #AEF;
    &:hover {
        background-color: #C0C0C0;
        color: black;
    }
}

.is_hidden {
    display: none;
    visibility: hidden;
}

.submit_buttons {
    float: left;
    clear: both;
}

#add_feed {
    margin-bottom: 1em;
}
#add_feed_hidden {
    margin-bottom: 1em;
}
#add_feed_img {
    vertical-align: bottom;
}
#add_feed_txt {
    vertical-align: middle;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    &:not(.selected) {
        color: #FF7C25;
    }
    &.selected {
        color: #8A8A8A;
    }
}

div.fake_form {
    padding: {
        left: 2px;
        bottom:2px;
        top:2px;
    }
    margin: {
        bottom: 10px;
        top: 10px;
    }
    &>input[type="text"] {
        font-family: monospace;
        &:not(.error) {
            border: none;
            background-color: #F8F8F8;
        }
        &.error {
            border: 1px solid red;
            background-color: #FCCFCF;
        }
        &:focus {
            color: blue;
        }
        min-width: 60%;
    }
    &>label {
        font-family: "Helvetica";
        float: left;
        clear: left;
        min-width: 10em;
    }
    &>input[type="text"] {
        float: left;
        /*clear: right;*/
    }
    &#submit_fake {
        float:left;
        clear:left;
    }
}

div.rss_controls {
    margin: {
        left: 2em;
        top: 2em;
    }
    &>img {
        cursor: pointer;
    }
}

button {
    cursor: pointer;
}

td.url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 6em;
}

td.enabled {
    &.feed_enabled_True {
        background-color: green;
    }
    &.feed_enabled_False {
        background-color: red;
    }
    
}

.regex_checkbox_parent {
    float: left;
    margin-right: 7px;
}
.regex_checkbox_label {
    font-family: monospace;
    float: left;
}
.regex_checkbox {
    margin-left: 0 !important;
}