html {
    height : 100%;
}

body {
    font-family: "Helvetica", "Trebuchet MS", "sans-serif";
    font-size: 14px;
    background-color: #EEE;
    margin: 0;
    margin: 0;
    background: #393939;
    min-width : 1200px;
    width : 100%;
    height : 100%;
}

a {
    &:link, &:visited, &:active, &:hover { color : white; }
}

#header {
  padding-top: 20px;
  width: 80%;
  min-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

#topbar {
    float : left;
}

.topbar-tab {
    float : left;
    height: 25px;
    padding: 0px 10px;
    margin-right: 5px;
    font-size: 9pt;
    line-height: 25px;
    color: white;
    font-weight: bold;
    cursor : pointer;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    &:hover {
        background-color : #c0c0c0;  
        /*color: #ffff00;*/
        color : black;
    }
}

.topbar-tab_options {
    float : left;
    padding : 0em 1em;
    border : 1px none;
    border-bottom : 0px none;
    border-top-right-radius : 25px 50px;
    border-top-left-radius : 25px 50px;
    cursor : pointer;
    color : #FFEEAA;
    font-size: 9pt;
    line-height: 25px;
    font-weight : bold;
    -moz-border-radius-topleft: 8px;
    -webkit-border-top-left-radius: 8px;
    border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-right-radius: 8px;
    margin-right : 5px;
}

.selected{
  border-bottom: none;
  background: white;
  color: black;
}

.hidden {
    display : none;
}

#main_body {
  background: #DDD;
  margin-top: 0;
  padding-top: 0;
  min-height: 100%;
  height: 100%;
}

#main_contents {
    height : 100%;
}

#tools-bar {
    float : left;
    margin-left : 2em;
}

#wrapper{
   margin: 0 auto;
   padding: 10px 30px;
   width: 83%;
   background-color : #F8F8FF;
   box-shadow: 0 0 9px black;
   -webkit-box-shadow: 0 0 9px black;
   -moz-box-shadow: 0 0 9px black;
   min-height: 450px;
   /*height: auto !important;*/
   height: 97%;
}

@mixin blah {
    border-top-left-radius : 10px;
    border-bottom-left-radius : 10px;
    border-left : 1px solid #888;
    border-top : 1px solid #888;
    border-bottom : 1px solid #888;
}
        
ol {
    &.sidebar-list {
        overflow: hidden;
        /*height: 100%;*/
        margin: 0.5em;
        list-style-type: none;
        /*background-color : white;*/
        width : 80px;
        padding-top : 11px;
        border-right : 1px solid #888;
        margin-top : 0px;
        position : absolute;
        height : 96%;
    }
    li {
        position : relative;
        width : 100px;
        cursor : pointer;
        left : -38px;
        vertical-align : bottom;
        padding: 1em;
        border : 1px solid rgba(255,255,255,0);
        margin-bottom : 1em;
        
        &.selected {
            /*background-image : -webkit-gradient(linear, left top, left bottom, from(rgba(207,207,207,0.5)), to(rgba(187,187,187,0.7)));*/
            background-color : rgba(240,240,240,0.5);
            font-weight: bold;
            @include blah;

        }
        &:hover {
            &:not(.selected) {
                /*background-image : -webkit-gradient(linear, left top, left bottom, from(rgba(207,207,207,0.1)), to(rgba(187,187,187,0.3)));*/
                background-color : rgba(240,240,240,0.2);
                border-color : rgba(255,255,255,0);
                @include blah;
            }
        }
    }
}

.options-wrapper {
    display : none;
    &.selected {
        display : block;
        float : left;
        background-color : inherit;
        margin-left : 140px;
        margin-top : 10px;
        height : 100%;
        /*overflow : scroll;*/
        max-height : 100%;
        /*min-height : 385px;*/
        /*min-width : 400px;*/
        /*padding : 1em;*/
        /*border-bottom-left-radius : 10px;*/
        /*border-top-right-radius : 10px;*/
        /*border-bottom-right-radius : 10px;*/
    }
}

.options-box {
    border : 1px solid #b1b1b1;
    padding-left : 1em;
    padding-bottom : 1em;
    margin-bottom : 1em;
    border-radius : 10px;
    min-width : 800px;
    &:not(.error),&:not(.ok) {
        background-color : rgba(240,240,240,0.5);
    }
    /*&.error {*/
    /*    background-image : -webkit-gradient(linear, left top, left bottom, from(rgba(240,0,0,0.7)), to(rgba(255,45,45,0.3)))*/
    /*}*/
    #general-dir, #general-moveto {
        width : 780px;
    }
    input[type="password"], input[type="text"] {
        height : 25px;
        font-size : 20px;
        border-radius : 5px;
        border : 1px solid #999;
        outline : none;
        padding-left : 1px;
        text-align : center;
        &.badinput {
            border : 1px solid red;
            background-color : rgba(255,94,94,0.5);
        }
        &.goodinput {
            border : 1px solid green;
            background-color : rgba(85,255,13,0.5);
        }
        &.warninginput {
            border : 1px solid yellow;
            background-color : rgba(255,255,106,0.5);
        }
        &.small {
            width : 75px;
        }
        &.smaller {
            width : 50px;
        }
    }
    input[type="password"] {
        width : 200px;
    }
    div {
        padding-bottom : 0.5em;
    }
    label {
        margin-right : 5px;
        &#foroldpass {
            margin-right : 5px;
        }
        &#fornewpass {
            margin-right : 26px;
        }
        &#fornewpassconf {
            margin-left : 5px;
        }
        &#forgeneral-movecheck {
            margin-top : 1px;
            margin-right : 0;
        }
        &#forthrottle-up {
            margin-right : 23px;
        }
        &#forperformance-sendbuffer {
            margin-right : 94px;
        }
        &#forperformance-receivebuffer {
            margin-right : 76px;
        }
        &#forperformance-readahead {
            margin-right : 17px;
        }
        &#forperformance-maxfilesize {
            margin-right : 52px;
        }
        &#forperformance-maxopenfiles {
            margin-right : 37px;
        }
        &#fornetwork-simuluploads {
            margin-right : 22px;
        }
        &#fornetwork-maxpeers {
            margin-right : 122px;
        }
        &#fornetwork-maxpeersseed {
            margin-right : 58px;
        }
        &#fornetwork-maxopensockets {
            margin-right : 74px;
        }
        &#fornetwork-maxopenhttp {
            margin-right : 98px;
        }
        /*
        &#forperformance- {
            margin-right : px;
        }
        */
    }
    .after-text {
        padding-left : 5px;
    }
    .inputerror {
        padding-left : 5px;
        color : red;
    }
    div.inputerror {
        padding-top : 5px;
        margin-left : -5px;
    }
    .tracker {
        display : inline;
    }
    .trackericon {
        border : none;
        outline : none;
        padding-right : 1em;
    }
}

.submit-box {
    //border : 1px solid #41B14A;
    //width : 114px;
    padding : 10px;
    border-radius : 5px;
    /*background-image : -webkit-gradient(linear, left top, left bottom, from(rgba(0,128,0,0.7)), to(rgba(0,170,0,0.5)));*/
    //background-color : #41B14A;
    //color : white;
    font-weight : bold;
    cursor : pointer;
/*    &:hover {
        //background-image : -webkit-gradient(linear, left top, left bottom, from(rgba(0,100,0,0.7)), to(rgba(0,128,0,0.5)));
        //background-color : #008000;
    }*/
}

#sidebar {
    border-top : 1px solid #888;
}

.info {
    color: #969696;
}

div.tracker-div {
    cursor: pointer;
    &:hover {
        background-color: rgba(230,230,230,0.5);
    }
}