body {
    font-family : sans-serif;
}

#status-div {
    font-family : monospace;
    font-size : 12px;
    &.status-ok {
        color : green;
    }
    &.status-bad {
        color : red;
    }
}
.canvas-title {
    font-weight : bold;
    font-size : 14px;
}
.canvas-div {
    float : left;
    min-width : 415px;
}
#canvas-network {
    margin-left: 3em;
}
.status-uprate-value {
    color : rgb(255,0,0);
}
.status-downrate-value {
    color : rgb(0,0,255);
}
.status-loadavg-value {
    color : rgb(255,0,0);
}
.status-mem-value {
    color : rgb(0,0,255);
}
.status-label {
    float : left;
    min-width : 7em;
    display : inline;
}
#io-detail {
    border: 1px solid red;
}
